[v-cloak] {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
}

img {
    width: 100%;
}

.logo {
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

header {
    background-color: #181413;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 3;
}

header button {
    margin-right: 40px;
    padding: 10px;
    background-color: green;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

main {
    background-color: #1d2d3c;
    min-height: 100%;
    padding-top: 80px;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #112030;
    color: white;
    width: calc(100% / 3 - 60px);
    margin: 15px 30px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card .delete {
    position: absolute;
    top: 20px;
    right: 15px;
    padding: 3px 12px;
    background-color: rgb(2, 155, 2, 0.6);
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.card .delete:hover {
    background-color: rgb(2, 155, 2);
    color: rgba(255, 255, 255);
}

.card p {
    margin: 10px 0;
}

.img-card {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.record-info,
.new-record {
    background-color: rgba(17, 32, 48, 0.85);
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 30px;
}

.record-info {
    width: 75%;
    height: 83%;
}

.new-record {
    width: 40%;
    height: 65%;
    color: white;
}

.container-info,
.container-new-record {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exit {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 6px 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.card-info {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-card-info {
    width: 170px;
    height: 170px;
    margin-bottom: 30px;
}

.card-info p {
    margin: 20px 0;
    font-size: 20px;
}

.new-record h3 {
    font-size: 24px;
}

.new-record-input {
    display: flex;
    margin: 10px 0;
}

.new-record-input input {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}

.new-record-input label {
    font-size: 20px;
    margin-right: 5px;
}

.new-record form {
    display: flex;
    flex-direction: column;
}

.new-record .add {
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.new-record .add:hover {
    background-color: white;
    color: rgb(17, 32, 48);
}